* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}


.dashboard-bg {
    background: rgb(0,58,112);
    background: linear-gradient(180deg, rgba(0,58,112,1) 0%, rgba(61,125,202,1) 50%, rgba(255,203,5,1) 100%);
    min-height: 80vh;
    width: 100vw;
}

.gen-one-bg {
    background: rgb(193,30,30);
    background: linear-gradient(90deg, rgba(193,30,30,1) 0%, #1b19bb 69%);
    min-height: 100vh;
    width: 100vw;
}

.gen-one-tab {
    background-image: url('../images/generations/generations-01.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-two-tab {
    background-image: url('../images/generations/generations-02.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-three-tab {
    background-image: url('../images/generations/generations-03.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-four-tab {
    background-image: url('../images/generations/generations-04.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-five-tab {
    background-image: url('../images/generations/generations-05.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-six-tab {
    background-image: url('../images/generations/generations-06.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-seven-tab {
    background-image: url('../images/generations/generations-07.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-eight-tab {
    background-image: url('../images/generations/generations-08.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
.gen-nine-tab {
    background-image: url('../images/generations/generations-09.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.login-tab {
    background-image: url('../images/ui-icons/login.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.logout-tab {
    background-image: url('../images/ui-icons/logout.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.signup-tab {
    background-image: url('../images/ui-icons/signup.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.dashboard-tab {
    background-image: url('../images/ui-icons/dashboard.png');
    background-size: cover;
    min-width: 80px;    
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}

.banner-bg {
    background-image: url('../images/pokemon-banner.png');
    padding-top: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.pokeball {
    cursor: pointer;
}

.caught {
    background-size: cover;
    background-color: lightseagreen;
    transition: 1s ease-in-out;
}

.list-group-item-success {
    border-radius: 5px;
}