* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

h4 {
 font-size: 10px;
}

h6 {
 font-size: 10%;
}

/* nav background color */
.nav {
    background-color: #E9FD38 ;
    border-bottom: 2px solid black;
}

/* banner background */
.banner-bg {
    background-image: url('../images/pokemon-banner.jpg');
    padding-top: 15vh;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: top;
    min-width: 100%;
}

/* tab-bg-black-border */
.tab-bg-black {
    max-width: 7vw;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
/* tab-bg-white-border */
.tab-bg-white {
    max-width: 7vw;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
}
/* pokemon logo colors */   
.dashboard-bg {
    background: rgb(0,58,112);
    background: linear-gradient(180deg, rgba(0,58,112,1) 0%, rgba(61,125,202,1) 50%, rgba(255,203,5,1) 100%);
    min-height: 80vh;
    width: 100vw;
}
/* red - blue */
.gen-one-bg {
    background: rgb(0,0,255);
    background: linear-gradient(0deg, rgba(0,0,255,1) 0%, rgba(255,0,0,1) 100%);
    min-height: 100vh;
    width: 100vw;
}
/* gold - silver */
.gen-two-bg {
    background: rgb(192,192,192);
    background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,215,0,1) 100%);  
    min-height: 100vh;
    width: 100vw;
}
/* ruby - sapphire */
.gen-three-bg {
    background: rgb(224,17,95);
    background: linear-gradient(180deg, rgba(224,17,95,1) 0%, rgba(0,103,165,1) 100%);
    min-height: 100vh;
    width: 100vw;
}
/* diamond - pearl */
.gen-four-bg {
    background: rgb(185,242,255);
    background: linear-gradient(180deg, rgba(185,242,255,1) 0%, rgba(234,224,200,1) 100%);
    min-height: 100vh;
    width: 100vw;
}
/* black - white */
.gen-five-bg {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
    width: 100vw;
}

.gen-six-bg {
    background: rgb(233,33,44);
    background: linear-gradient(0deg, rgba(233,33,44,1) 0%, rgba(19,127,194,1) 100%); 
    min-height: 100vh;
    width: 100vw;   
}
.gen-seven-bg {
    background: rgb(94,48,137);
    background: linear-gradient(0deg, rgba(94,48,137,1) 0%, rgba(200,111,35,1) 100%);
    min-height: 100vh;
    width: 100vw;
}
.gen-eight-bg {
    background: rgb(226,15,92);
    background: linear-gradient(0deg, rgba(226,15,92,1) 0%, rgba(27,160,233,1) 100%);
    min-height: 100vh;
    width: 100vw;
}
.gen-nine-bg {
    background: rgb(143,0,255);
    background: linear-gradient(0deg, rgba(143,0,255,1) 0%, rgba(255,36,0,1) 100%);
    min-height: 100vh;
    width: 100vw;
}

.pokeball {
    width: 5vw;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .nav-item {
        padding: 0;
    }
    .tab-bg-black {
        max-width: 8.33vw;
    }
    .tab-bg-white {
        max-width: 8.33vw;
    }
}